<%- include('partials/header') %>
<main>
  <div class="fade-in">
    <h1>User List</h1>
    <form action="/users/search" method="GET">
      <input type="text" name="search" id="search" placeholder="Search by name">
      <button type="submit">Search</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td>
              <a href="#" class="btn">Go</a>
              <a href="/users/edit/<%= user._id %>">Edit</a>
              <a href="/users/delete/<%= user._id %>" class="btn" id="delete">Delete</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>
<script src="../public/js/scripts.js"></script>
<%- include('partials/footer') %>